body {
    font-family: Arial, Helvetica, sans-serif;
}

/* login page */
.container1 {
    border: 1px solid gray;
    width: 30%;
    margin: 15% 0 0 35%;
    text-align: center;

}

.container1:hover {
    box-shadow: 8px 8px 8px 8px;
    transition: 0.3s ease-in all;
}

.container1 input {
    width: 40%;
    margin: auto;
}

.container1 .btn {
    border-radius: 35px;
    width: 30%;
}

.container1 .btn:hover {
    background-color: green;
    transition: 0.5s ease-in all;
}
/* end login page */

/* index */
nav {
    color: white;
    font-size: 17px;
    position: fixed;
}
nav .nav-logo a {
    color: white;
}
nav a:hover {
    text-decoration: none;
    color: white;
}

nav .welcome {
    margin: auto;
}

nav .adduser a {
    margin-right: 20px;
    color: white;
}

.container.index-container {
    width: 100%;
    margin-top: 14vh;
}

button.add a {
    color: black;
}

form h1 {
    margin-bottom: -5vh;
}

.container input#search{
  margin-right: 8px;

}

.container button.reset{
    margin-left: 2px;
  
  }
.container button.reset a{
    color: white;

}

.container button a:hover{
    text-decoration: none;
    color: white;
}


.table1 {
    border: 6px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 2vh;
}

thead {
    text-align: center;
}

tbody tr:hover {
    background-color: gray;
    transition: 0.2s ease-in all;
    cursor: pointer;
}
button.vw, button.edt, button.del {
    margin: 2px;
}
button a {
    color: white;
}
/* end index */

/* add */
.add-container {
    width: 250px;
    margin: auto;
    margin-top: 5vh;
}
.add-container select.form-control{
 width: 100px;

}
/* end add */

/* details */
.details-container {
    width: 550px;
    margin: auto;
    margin-top: 20vh;
}

.container button.btn-edit {
    margin-left: 60%;
}
/* end details */

/* edit */
.edit-container {
    width: 250px;
    margin: auto;
    margin-top: 15vh;
}
.edit-container select.form-control{
 width: 100px;
}
/* end edit */

/* adduser */
.newuser-container {
    width: 250px;
    margin: auto;
    margin-top: 15vh;
}

/* end adduser */